{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="pt-br" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eTorta</title>
    <link rel="stylesheet" href="{% static 'core/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/foundation.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
</head>
<body>
    <header class="row">
        <a href="/"><h1 class="logo">eTorta</h1></a>
        <nav class="navegacao-principal button-bar">
            <ul class="button-group">
                <li><a href="{% url 'core:produtos' %}" class="button">Produtos</a></li>
                <li>
                    <a href="#" data-dropdown="drop1" class="button">Criar</a>
                    <ul id="drop1" class="f-dropdown" data-dropdown-content>
                      <li><a href="{% url 'core:model-criar' 'produto' %}" >Produto</a></li>
                      <li><a href="{% url 'core:model-criar' 'loja' %}" >Loja</a></li>
                      <li><a href="{% url 'core:model-criar' 'url' %}" >URL</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="button-group">
                <li class="item-login">
                    {% if user.is_authenticated %}
                        <a href="{% url 'core:logout' %}" class="button secondary">Logout</a>
                    {% else %}
                        <a href="{% url 'core:login' %}" class="button secondary">Login</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </header>
    {% block content %}{%endblock%}

    <script src="{% static 'core/js/jquery.js' %}"></script>
    <script src="{% static 'core/js/foundation.min.js' %}"></script>
    <script src="{% static 'core/js/foundation/foundation.dropdown.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
</body>
</html>
