{% extends 'core/base.html' %}
{% block content %}
<div class="row">
    <h1>Produtos <span class="item-alteracao">(<a href="{% url 'core:model-criar' 'produto' %}">criar</a>)</span></h1>

    <ul class="lista-produtos">
        {% for produto in produtos %}
            <li class="row info-produto">
                <h2 class="large-12 column">{{ produto.nome }}</h2>
                <div class="large-6 column">
                    <h3>Características <span class="item-alteracao">(<a href="{% url 'core:model-atualizar' 'produto' produto.pk %}">editar</a>)</span></h3>
                    <dl class="caracteristicas-produto row">
                        <dt class="large-6 column">Disponível: </dt>
                        <dd class="large-6 column">{{ produto.disponibilidade|yesno:"Sim,Não" }}</dd>
                        <dt class="large-6 column">Código: </dt>
                        <dd class="large-6 column">{{ produto.codigo }}</dd>
                        <dt class="large-6 column">Preço: </dt>
                        <dd class="large-6 column">R$ {{ produto.preco|floatformat:2 }}</dd>
                    </dl>
                </div>

                <div class="large-6 column">
                    <h3>Presente nas lojas</h3>
                    <ul>
                        {% for loja in produto.loja_set.all %}
                            <li>{{ loja }}</li>
                        {% empty %}
                            -
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}